body{
    background-image: url(../delani/imgs/glaxia.webp); 
}


.logo {
    height: 100px;
    width: 100px;
    text-align: start;
}

.menu {
    background-color: rgba(223, 144, 65, 0.904);
    text-align: right;
}



.container h2 {
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    text-align: center;
}

.container img {
    height: 200x;
    width: 200px;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    overflow: scroll;
}


.fotoriverdale {
    height: 700px;
    margin-right: 60px;
    margin-left: 40px;
    border-radius: 9px;
}

.titulo {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;

}

.genero {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calificaci贸n {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.estreno {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.episodios {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.temporadas {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sin贸psis {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor {
    display: flex;
    min-height: 80vh;
    background-position: center center;
    background-size: cover;
    margin-bottom: 12vh;
    color: white;
    align-items: center;
    flex-wrap: nowrap;
}


header {
    background-color: #32323D;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    display: flex;
    color: white;
    margin: 15px;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 15px;
    padding: 8px;
}

.headerinfo {

    text-align: start;
    display: flex;
    flex-wrap: nowrap;
}



.generos {
    height: 20px;
    width: 20px;
    text-align: start;
}

.home {
    height: 20px;
    width: 20px;
    text-align: start;
}

.favs {
    height: 20px;
    width: 20px;
    text-align: start;
}


.buscador {
    height: 25px;
    width: 25px;
    flex-wrap: nowrap;
}

.estrellas{
    width: 140px;
    height: 140px;
}


.iconos {
    text-align: center;
    margin-top: 2%;
    color: white;
}


.inf {
    background-color: black;
    display: flex;
    box-sizing: 500%;
    flex-wrap: nowrap;
    flex-direction: column;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-right: 60px;

}

.trailer {
    color: white;
    text-align: center;
}

.inf .star {
    height: 20px;
    width: 20px;
    display: flex;
}

.videot {
    text-align: center;

}
.etiqueta {
    color: white;
}

/* MOBILE */

@media (max-width: 420px) {
    body {
        background-image: url(.//imgs/glaxia.webp)
    }

    .logo {
        height: 40px;
        width: 40px;
        text-align: start;
    }

    header {
        background-color: #32323D;
        font-family: 'Raleway', sans-serif;
        text-align: right;
        display: flex;
        color: white;
        margin: 1px;
        justify-content: space-around;
        align-items: center;
        color: white;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        border-radius: 15px;
        padding: 8px;
    }

    .headerinfo {
        text-align: start;
        display: flex;
        flex-wrap: nowrap;
        font-size: x-small;
    }

    .generos {
        height: 10px;
        width: 10px;
        text-align: start;
    }

    .home {
        height: 10px;
        width: 10px;
        text-align: start;
    }

    .favs {
        height: 10px;
        width: 10px;
        text-align: start;
    }


    .buscador {
        height: 10px;
        width: 10px;
        flex-wrap: nowrap;
    }
    .search {
        height: 15px;
        width: 15px;
        font-size: x-small
    }


    .headerinfo:hover {
        color: black;
        background-color: white;
        transform: scale(1.1)
    }

    footer {
        color: white;
        font-size: x-small;
    }
    
    .iconos {
        text-align: center;
        margin-top: 2%;
    }
    
    .titulo {
        color: white;
        text-align: center;
        font-family: 'Roboto', 'swap';
        font-size:large;
    }
    .fotoriverdale {
        height: 300px;
        width: 300px;
    }
    .sin贸psis {
        font-size: small;
    }
    .calificaci贸n {
        font-size: small;
    }
    .genero {
        font-size: small;
    }
    .estreno {
        font-size: small;
    }
    .episodios {
        font-size: small;
    }
    .temporadas {
        font-size: small;
    }
    section.contenedor {
        flex-wrap: nowrap;
        display: flex;
    }
    h1.trailer {
        color: white;
        text-align: center;
        font-family: 'Roboto', 'swap';
        font-size:large;
    }
    .videot {
        width:"180"; 
        height:"55"
    }
}

