body {
    background-image: url(.//imgs/glaxia.webp);
}

.logo {
    height: 100px;
    width: 100px;
}
.logob {
    height: 60px;
    width: 60px;
}
.home {
    height: 20px;
    width: 20px;
}

header {
    background-color: #32323D;
    font-family: 'Roboto', 'swap';
    display: flex;
    color: white;
    margin: 15px;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 15px;
}
.headerinfo:hover {
    color: black;
    background-color: white;
    transform: scale(1.1)
}

.generos {
    height: 20px;
    width: 20px;   
}

.favs {
    height: 20px;
    width: 20px;
  
}

footer {
    color: white;
}

.iconos {
    text-align: center;
    margin-top: 2%;
}

.nombredepeliculas {
    color: yellow;
}


.container img {
    height: 200x;
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: scroll;
}

form {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
  }
  form{
    display: flex;
    justify-content: flex-end;
  }




























































































































































































































































































































































































































































































































































































































/* MOBILE */

@media (max-width: 420px) {
    body {
        background-image: url(.//imgs/glaxia.webp)
    }

    .logo {
        height: 40px;
        width: 40px;
        text-align: start;
    }

    header {
        background-color: #32323D;
        font-family: 'Raleway', sans-serif;
        text-align: right;
        display: flex;
        color: white;
        margin: 1px;
        justify-content: space-around;
        align-items: center;
        color: white;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        border-radius: 15px;
        padding: 8px;
    }

    .headerinfo {
        text-align: start;
        display: flex;
        flex-wrap: nowrap;
        font-size: x-small;
        font-family: 'Roboto', 'swap';
    }

    .generos {
        height: 10px;
        width: 10px;
        text-align: start;
    }

    .home {
        height: 10px;
        width: 10px;
        text-align: start;
    }

    .favs {
        height: 10px;
        width: 10px;
        text-align: start;
    }


    .buscador {
        height: 10px;
        width: 10px;
        flex-wrap: nowrap;
    }

    .search {
        height: 15px;
        width: 15px;
        font-size: x-small
    }


    .headerinfo:hover {
        color: black;
        background-color: white;
        transform: scale(1.1)
    }
}