body {
    background-image: url(.//imgs/glaxia.webp)
}

.logo {
    height: 100px;
    width: 100px;
    text-align: start;
}

.menu {
    background-color: rgba(223, 144, 65, 0.904);
    text-align: right;
}



footer {
    color: white;
}



.container h2 {
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    text-align: center;


}

.container img {
    height: 200x;
    width: 200px;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    overflow: scroll;
}




.title {
    text-align: center;
    margin: 40px;
    color: white;
}

.container img {
    height: 200x;
    width: 200px;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    overflow: scroll;
    border-radius: 9px;

    
}

.container {
    background-color: black;
    display: flex;
    box-sizing: 500%;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
}

.miniconte {
    height: 380px;
    width: 250px;
    object-fit: cover;
    align-items: center;
    

}
.nombre {
    text-align: center;
    color: yellow;
}

header {
    background-color: #32323D;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    display: flex;
    color: white;
    margin: 15px;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 15px;
    padding: 8px;
}

.headerinfo {

    text-align: start;
    display: flex;
    flex-wrap: nowrap;
}



.generos {
    height: 20px;
    width: 20px;
    text-align: start;
}

.home {
    height: 20px;
    width: 20px;
    text-align: start;
}

.favs {
    height: 20px;
    width: 20px;
    text-align: start;
}


.buscador {
    height: 25px;
    width: 25px;
    flex-wrap: nowrap;
}

.headerinfo:hover {
    color: black;
    background-color: white;
}

.iconos {
    display: flex;
    height: 20px;
    width: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
    
}
