body {
    background-image: url(.//imgs/glaxia.webp)
}

.logo {
    height: 100px;
    width: 100px;
}

.title1 {
    text-align: center;
    margin: 40px;
    color: white;
}

.section-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.section-movies article {
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 15px;
    padding: 8px;

}

.section-movies article:hover {
    color: black;
    background-color: white;
    transform: scale(1.1)
}

.title2 {
    text-align: center;
    margin: 100px;
    color: white;
}

.section-series {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.section-series article {
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 15px;
    padding: 8px;
}

.section-series article:hover {
    color: black;
    background-color: white;
    transform: scale(1.1)
}

body {
    background-color: black;
    color: white;
}

.logo {
    height: 100px;
    width: 100px;
    text-align: start;
}

.menu {
    background-color: rgba(223, 144, 65, 0.904);
    text-align: right;
}

.img {
    height: 380px;
    width: 250px;
    object-fit: cover;
    border-radius: 9px;

}

header {
    background-color: #32323D;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    display: flex;
    color: white;
    margin: 15px;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 15px;
    padding: 8px;
}

.headerinfo {

    text-align: start;
    display: flex;
    flex-wrap: nowrap;
}



.generos {
    height: 20px;
    width: 20px;
    text-align: start;
}

.home {
    height: 20px;
    width: 20px;
    text-align: start;
}

.favs {
    height: 20px;
    width: 20px;
    text-align: start;
}


.buscador {
    height: 25px;
    width: 25px;
    flex-wrap: nowrap;
}

.headerinfo:hover {
    color: black;
    background-color: white;
    
}

.iconos {
    text-align: center;
    margin-top: 2%;
}

.h1 {
    text-align: center;
}