body{
    background-color: black;
}
.title1{
    text-align: center;
    margin: 150px;
    color: white;
}
.section-movies article {
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 15px;
    display: inline-block;
    padding: 8px;
}

.section-movies article:hover {
    color: black;
    background-color: white;
}