body {
    background-color: black;
}

.logo {
    height: 100px;
    width: 100px;
}

.title1 {
    text-align: center;
    margin: 40px;
    color: white;
}

.section-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.section-movies article {
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 15px;
    padding: 8px;
}

.section-movies article:hover {
    color: black;
    background-color: white;
}

.title2 {
    text-align: center;
    margin: 100px;
    color: white;
}

.section-series {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.section-series article {
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 15px;
    padding: 8px;
}

.section-series article:hover {
    color: black;
    background-color: white;
}

body {
    background-color: black;
    color: white;
}

.logo {
    height: 100px;
    width: 100px;
    text-align: start;
}

.menu {
    background-color: rgba(223, 144, 65, 0.904);
    text-align: right;
}

header {
    background-color: #32323D;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: flex;
    color: white;
    margin: 15px;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 15px;
    padding: 8px;
}

.headerinfo {

    text-align: start;
    display: flex;
    flex-wrap: nowrap;
}


.headerinfo:hover {
    color: black;
    background-color: white;
}
.img {
    height: 350px;
    width: 250px;
    object-fit: cover;

}