body {
    background-color: black;
    color: white;
}

.logo {
    height: 100px;
    width: 100px;
    text-align: start;
}

.menu {
    background-color: rgba(223, 144, 65, 0.904);
    text-align: right;
}

header {
    background-color: #32323D;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: flex;
    color: white;
    margin: 15px;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 15px;
    padding: 8px;


}

.headerinfo {

    text-align: start;
    display: flex;
    flex-wrap: nowrap;
}
.container h2 {
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    text-align: center;
    

}
.container img{
    height: 200x;
    width: 200px;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    overflow: scroll; 

   
}

.headerinfo:hover {
    color: black;
    background-color: white;}


    .container {
        background-color: black;
        display: flex;
        box-sizing: 500%;
        flex-wrap: nowrap;
        padding: 10px;
        overflow: scroll; 
    }


        
