body {
    background-color: black;
    }
h1 {
   color: white; 
}
    
    .logo {
        height: 100px;
        width: 100px;
    }
    
    .menu {
          background-color: rgba(223, 144, 65, 0.904);
          text-align: right;}