body {
    background-image: url(.//imgs/glaxia.webp);

}

.logo {
    height: 100px;
    width: 100px;
}
.logob {
    height: 60px;
    width: 60px;
}
.home {
    height: 20px;
    width: 20px;
}

header {
    background-color: #32323D;
    font-family: 'Roboto', 'swap';
    display: flex;
    color: white;
    margin: 15px;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 15px;
}

.generos {
    height: 20px;
    width: 20px;
}

.home {
    height: 20px;
    width: 20px;
}

.favs {
    height: 20px;
    width: 20px;
}

.buscador {
    height: 25px;
    width: 25px;
}

.headerinfo:hover {
    color: black;
    background-color: white;
    transform: scale(1.1)
}


.container {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
    color: white;
    border-style: solid;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 100px;
}

.peliculaspopulares {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
}

.seriespopulares {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
}
.peliculasnuevas {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
}

.h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto', 'swap';
}

.h2 {
    color: white;
    text-align: center;
}


.data {
    text-align: center;
}

.tituloo {
    color: yellow;
}

.container img {
    height: 200x;
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: scroll;
}


footer {
    color: white;
}

.iconos {
    text-align: center;
    margin-top: 2%;

}

.container .miniconte :hover {
    transform: scale(1.1)
}


/* MOBILE */

@media (max-width: 420px) {
    .logo {
        height: 40px;
        width: 40px;

    }

    .headerinfo {
        font-size: x-small;
        font-family: 'Roboto', 'swap'
    }

    header {
        padding: 8px;
    }
    

    .generos {
        height: 10px;
        width: 10px;
    }

    .home {
        height: 10px;
        width: 10px;
    }

    .favs {
        height: 10px;
        width: 10px;

    }

    .search {
        height: 15px;
        width: 15px;
        font-size: x-small
    }

    .buscador {
        height: 10px;
        width: 10px;
    }

    .container {

        margin-bottom: 50px;
    }

    .h1 {
        font-size: large;
    }

    .h2 {
        font-size: medium;
    }

    .data {
        font-size: small
    }

    .tituloo {
        color: yellow;
    }

    .container h2 {
        border-style: solid;
        border-width: 1px;
        padding: 8px;
        text-align: center;
    }

    .container img {
        height: 100x;
        width: 100px;

    }

    footer {
        font-size: x-small;
    }

}