body {
    background-image: url(.//imgs/glaxia.webp)
}

.logo {
    height: 100px;
    width: 100px;
    text-align: start;
}

.menu {
    background-color: rgba(223, 144, 65, 0.904);
    text-align: right;
}



.img1 {
    height: 380px;
    border-radius: 9px;
    width: 250px;
    object-fit: cover;
}

.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

header {
    background-color: #32323D;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    display: flex;
    color: white;
    margin: 15px;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 15px;
    padding: 8px;
}

.headerinfo {

    text-align: start;
    display: flex;
    flex-wrap: nowrap;
}



.generos {
    height: 20px;
    width: 20px;
    text-align: start;
}

.home {
    height: 20px;
    width: 20px;
    text-align: start;
}

.favs {
    height: 20px;
    width: 20px;
    text-align: start;
}


.buscador {
    height: 25px;
    width: 25px;
    flex-wrap: nowrap;
}

.headerinfo:hover {
    color: black;
    background-color: white;
}

.nombredepeliculas {
    color: yellow;
    text-align: center;
}

.search article {
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 100px;
}

.search article:hover {
    color: black;
    background-color: rgb(62, 62, 65);
    transform: scale(1.1)}

.título {
    color: white;
}

.ryf {
    color: white;
    text-align: center;
}

.título {
    text-align: center;
}

footer {
    color: white;
}

.iconos {
    text-align: center;
    margin-top: 2%;
}
